In [1]:
#Import libraries
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
#File Names
HI_measure_clean = "hawaii_measurements_clean.csv"
HI_stations = "hawaii_stations.csv"

In [3]:
#Read CSV
meas = pd.read_csv(HI_measure_clean)
stat = pd.read_csv(HI_stations)

In [4]:
meas.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [5]:
stat.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
# Import and establish Base for which classes will be constructed 
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

Base = declarative_base()

In [7]:
#Use the engine and connection string to create a database called hawaii.sqlite
engine = create_engine('sqlite:///hawaii.sqlite')

In [8]:
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Date

In [9]:
#Use declarative_base and create ORM classes for each table.
#You will need a class for Measurement and for Station.
#Make sure to define your primary keys.

class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [10]:
#Once you have your ORM classes defined, create the tables in the database using create_all
Base.metadata.create_all(engine)

In [11]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [12]:
# Writing rows from pandas to sqlite
for index,row in meas.iterrows():
    m = Measurement(id=index,
                    station = row['station'],
                    date = row['date'],
                    prcp = row['prcp'],
                    tobs = row['tobs'])
    session.add(m)

session.commit()

In [13]:
# Writing rows from pandas to sqlite
for index,row in stat.iterrows():
    s = Station(id=index,
                    station = row['station'],
                    name = row['name'],
                    latitude = row['latitude'],
                    longitude = row['longitude'],
                    elevation = row['elevation'])
    session.add(s)

session.commit()